.page-hd-wrap {
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    .mb-hd {
        margin-bottom: 2.625rem;
    }
    h1 {
        margin: 0;
        line-height: 24px;
        font-size: 24px;
    }
    .user-photo {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}
