@import './variable.less';
.input {
    border-width: @input-border-width;
    outline: none;
    border-radius: @input-border-radius;
    border-color: @color-base-border;
    height: @input-height;
    padding: @input-padding;
}
