.light-theme-root {
    --c-fore: #213547;
    --c-back: #f6f7f9;
    --c-block: #ffffff;
    --c-btn-back: #f9f9f9;
    --c-divider: #0000001a;
    --c-border: #0000001a;
    --c-field-back: #f0f0f0;
}
.dark-theme-root {
    --c-fore: rgba(255, 255, 255, 0.87);
    --c-back: #121212;
    --c-block: #242424;
    --c-btn-back: #1a1a1a;
    --c-divider: #ffffff1a;
    --c-border: #ffffff1a;
    --c-field-back: #3b3b3b;
}
:root {
    color-scheme: light dark;
    .light-theme-root();
    &[theme-dark] {
        .dark-theme-root();
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        .dark-theme-root();
        &[theme-light] {
            .light-theme-root();
        }
    }
}

@base-border-radius: 6px;

// colors
@color-foreground: var(--c-fore);
@color-base-border: var(--c-border);
@color-primary: #1890ff;
@color-field-fore: @color-foreground;
@color-field-back: var(--c-field-back);

// link
@color-link-plain: var(--c-fore);
@color-link-theme: @color-primary;
@color-link-hover: lighten(@color-primary, 20%);
@color-link-active: darken(@color-primary, 20%);

// divider
@color-divider: var(--color-divider);
@color-summary: #00000017;
